<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Multicast</title>
  <link rel="stylesheet" href="../static/app.css">
</head>
<body>
<h2>Chat Multicast (LAN)</h2>
  <div class="container">

    <div class="chat-header">
      <div class="user-info">
        <img src="../static/user-avatar.png" class="user-avatar">
        <span class="user-name">{{ user.full_name }}</span>
      </div>
      <a href="{{ url_for('auth_udg_bp.login_view') }}" class="logout-btn">Cerrar Sesión</a>
    </div>


    <div class="chat-wrapper">
      <div class="connection-section">
        <label>
          <span>Nombre:</span>
          <input id="username" value="{{ user.full_name }}" readonly />
        </label>
        <button id="btnConnect">Conectar</button>
      </div>

      <div id="messages" class="messages-area" aria-live="polite"></div>

      <div id="controls">
        <input id="input" placeholder="Escribe un mensaje..." />
        <button id="send">Enviar</button>

        <input type="file" id="imageInput" accept="image/png, image/jpeg" style="display: none;"/>
        <button id="sendImageBtn">Subir Foto</button>
        <button id="getTime">Pedir hora (y comparar)</button>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="../static/image_resizer.js"></script>
  <script src="../static/app.js"></script>
</body>
</html>